*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Afacad Flux', sans-serif;
}

:root {
    --color1: #BEE9E8;
    --color2: #62B6CB;
    --color3: #1B4965;
    --color4: #CAE9FF;
    --color5: #5FA8D3;
}

header{
    display: flex;
    background-color: var(--color1);
    height: 4rem;
    justify-content: center;
    align-items: center;

    margin-bottom: 4rem;
}

main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primeira {
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50rem;
    gap: 2.5rem;
    margin-bottom: 5rem;
}

.primeira img{

    height: 25rem ;
}

.segunda{
    display:flex;
    background-color: var(--color4);
    height: 15rem;
    max-width: 85rem;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.segunda img{
    max-width: 30rem;
    max-height: 15rem;
}

.terceira {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap:4rem;
}

.terceira img{
    max-width: 30rem;
    max-height: 15rem;
}