*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Afacad Flux', sans-serif;
}

:root {
    --color1: #BEE9E8;
    --color2: #62B6CB;
    --color3: #1B4965;
    --color4: #CAE9FF;
    --color5: #5FA8D3;
}

header{
    display: flex;
    background-color: var(--color1);
    height: 4rem;
    justify-content: center;
    align-items: center;

    margin-bottom: 4rem;
}

main{
    display:flex;
    justify-content: center;
    align-items: center;
}

.primeira {
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 65rem;
}

.primeira img{

    height: 25rem ;
}